.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(195, 255, 180, 0.4);
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 500px;
  height: 300px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.content {
  height: inherit;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: green;
}

.body {
  font-size: 1.5rem;
}

.footer {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .body {
    font-size: 1.1rem;
  }

  .footer {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

@media screen and (max-height: 350px) {
  .modal-container {
    height: 250px;
  }

  .body {
    font-size: 1.1rem;
  }

  .footer {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

.title-close-btn {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
}

.title-close-btn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
