html,
body {
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: 600;
}

a:visited {
  color: rgb(23, 122, 23);
}

.main-font {
  font-family: 'Karla', sans-serif;
}

.container {
  margin: 10px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2em;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .item-container > * {
      margin: 1.5em 1.5em 0 1.5em;
    }
  }
}

.card {
  width: 200px;
  border-style: solid;
  border-width: 6px;
  border-radius: 2em;
  box-shadow: 3px 3px 3px 1px rgba(118, 255, 6, 0.301);
  background: radial-gradient(#eafa0d, #05f711);
  border-color: rgba(89, 205, 54, 0.603);
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.8rem;
  }

  .card {
    width: 125px;
  }
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card:active {
  transform: scale(1);
  pointer-events: none;
}
